@model InmobiliariaEfler.Models.Pago

@{
    ViewData["Title"] = "Editar pago";
    var Contratos = (IList<Contrato>)ViewBag.Contratos;
}

<h1>Editar pago</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label>Pago n°: @Model.NumeroPago </label>
            </div>
            <div class="form-group">
                @foreach (var item in Contratos)
                {
                    @if (item.Id == Model.IdContrato)
                    {
                        <div class="form-group">
                            <label class="control-label">Contrato n°: @item.Id </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Direccion: @item.Inmueble.Direccion </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Inquilino: @item.Inquilino.Nombre @item.Inquilino.Apellido </label>
                        </div>
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input type="text" asp-for="Descripcion" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FechaPago" class="control-label"></label>
                <input type="date" asp-for="FechaPago" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input type="text" asp-for="Importe" class="form-control" />
            </div>
            <div>
                @if (TempData["error"] != "")
                {
                    <div class="text-danger">
                        <p>@TempData["error"]</p>
                    </div>
                }
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver atrás</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
